.InProgressCard {
  background-color: #fff;
  border-radius: 5px;
  &__content {
    justify-content: space-between;
    flex-direction: column;
  }

  &__text {
    max-width: 100%;
    width: 100%;
    margin-right: 32px;
    text-align: left;
  }

  &__controls {
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 10px;
    box-sizing: border-box;
  }

  &__content-image {
    margin-top: 2px;
    height: 24px;
  }

  &__button {
    height: 50px;
  }
}

@media (max-width: 1000px) {
  .InProgressCard {
    &__controls {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 16px 10px;
    }

    &__button {
      margin-top: 10px;
    }
  }
}
@media (max-width: 550px) {
  .InProgressCard {
    &__controls {
      padding: 0 16px 10px;
    }

  }
}
