.Stopwatch {
  &__content {
    display: flex;
  }

  &__time {
    max-width: 80px;
    width: 100%;
    margin: 0 10px 0 0;
    color: #6c757d;
    font-weight: 500;
  }

  &__image {
    margin-bottom: 4px;
    cursor: pointer;
  }
}


@media (max-width: 1000px) {

  &__time {
    max-width: 80px;
    width: 100%;
    margin: 0 10px 0 0;
    color: #6c757d;
    font-weight: 500;
  }

}