.Stopwatch {
  &__content {
    display: flex;
  }

  &__time {
    min-width: 80px;
    margin: 0 10px 0 32px;
    color: #6c757d;
    font-weight: 500;
  }

  &__image {
    margin-bottom: 4px;
    cursor: pointer;
  }
}
