.Kanban {
  &__content {
    height: 100vh;
  }

  &__column {
    height: 100%;
    padding: 10px 0 30px;

  }

 &__column-content{
   height: calc(100% - 60px);
  overflow-y: scroll;
 }

  &__counter {
    border-radius: 100px;
    background-color: lightgray;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  &__content-title {
    text-align: "left";
    font-weight: "500";
  }

  &__column-footer {
    padding: 10px 0;
    background-color: #f8f9fa;
  }
}
